<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weclome to LBlog</title>
    <link rel="stylesheet" href="../../public/css/normalize.css">
    <link rel="stylesheet" href="../../public/css/foundation.min.css">
    <style>
        body{
            margin: 1em 0;
        }
    </style>
</head>
<body>

<div class="row">
    <div class="small-12 medium-4 large-6 columns namelogo">
        <h1>FBlog <small><a href="/home">Click To Home</a></small></h1>
    </div>
</div>

<div class="row about">
    <div class="medium-6 large-8 columns">
        <h4>About</h4>
        <p>A very lightweight blog by using slim framework, we don't use mysql and lv every time, there are too many demos like that, so LBlog was born, and local preview markdown, save the notes, you'll love it! </p>
    </div>
    <div class="medium-6 large-4 columns">
        <img src="../../public/img/IMG_20150515_193202.jpg" height="150" width="150">
    </div>
</div>

    <div class="row work">
    <hr>
        <div class="large-12 columns">
        <h4>Features</h4>
        <br />
        <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
            <li>
                <a href="https://github.com/slimphp/Slim">Slim</a>. Slim is a PHP micro framework that helps you quickly write simple yet powerful web applications and APIs.
            </li>
            <li>
                <a href="https://github.com/twigphp/Twig">Twig</a>. The flexible, fast, and secure template engine for PHP.
            </li>
            <li>
                <a href="http://foundation.zurb.com/">Foundation</a>. It’s the first front-end framework created for developing fully responsive web apps.
            </li>
            <li>
                <a href="https://github.com/suin/php-rss-writer">RSSWriter</a>. Yet another simple RSS writer library for PHP 5.3 or later. This library can also be used to publish Podcasts.
            </li>
        </ul>
        </div>
    </div>

    <div class="row contact">
    <hr>
        <div class="large-8 columns">
            <h4>Contact Me</h4>
            <div class="large-4 columns">
                <strong>Github</strong>: <a target="_blank" href="https://github.com/RryLee">@RryLee</a>
            </div>
            <div class="large-4 columns">
                <strong>QQGroup</strong>: <a href="#">260655062</a>
            </div>
        </div>
    </div>

</body>
</html>